/* ===================== halaman home (potret.htlm) ===================== */
.background{
    background-image: url("gambar\ street.jpg");
    height: 790px;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background > span{
    color: rgba(0, 0, 0, 0.614);
    font-size: 100px;
    
}

.nav-login > a {
    justify-content: center;
    align-items: left;
}

.navbar [
    
]


